{{ partial "header" . }}

<section class="hero is-danger">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">{{ .Title }}</h1>
            <h5>{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006") }}</h5>
            {{ partial "tags" . }}
        </div>
    </div>
</section>
<br />


<div align="start" class="container content">
{{ .Content }}
</div>

<!-- Related posts -->
{{ $related := first 3 (where (where (where .Site.Pages.ByDate.Reverse ".Type" "==" "post") ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
{{ if $related }}
    <h4 class="page-header">Related</h4>
    {{ range $related }} {{ partial "list-item" . }} {{ end }}
{{ end }}

<!-- Disquis comments -->
{{ if and .Site.DisqusShortname (not .Params.disableComments) }}
    <h4 class="page-header">Comments</h4>
    {{ template "_internal/disqus.html" . }}
{{ end }}

{{ partial "footer" . }}
