<link rel="stylesheet" href="{{ "css/main.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/bootstrap.min.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/font-awesome.min.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/solarized-light.min.css" | absURL }}">

<style>
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        src: url({{ "fonts/OpenSans.woff2" | absURL }}) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    @font-face {
        font-family: 'JetBrains Mono';
        font-style: normal;
        font-weight: normal;
        src: url({{ "fonts/JetBrainsMono.woff2" | absURL }}) format('woff2');
    }

    html body {
        font-family: 'Open Sans', 'Ubuntu', Arial, Helvetica, sans-serif;
        background-color: '{{ .Site.Params.backgroundColor | default "white" }}';
    }

    code, kbd, pre, samp {
        font-family: 'JetBrains Mono', monospace;
    }

    :root {
        --accent: {{ .Site.Params.accent | default "#2196F3" }};
        --border-width: {{ if .Site.Params.showBorder | default false }} 5px {{ else }} 0 {{ end }};
    }
</style>

{{ range .Site.Params.css }}
    <link rel="stylesheet" href="{{ . | absURL }}">
{{ end }}
