{{ partial "header" . }}
<section class="hero is-danger">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">{{ .Title }}</h1>
        </div>
    </div>
</section>
<br />

{{ range (where .Site.Pages "Type" "post").GroupByDate "2006" }}
<div class="container content">
    <h2 class="subtitle">{{ .Key }}</h2>
    <ul style="list-style-type: none;">
        {{ range .Pages }}{{ if not (eq .Title "Posts") }}
        <li class="blog-post-row has-text-left">
            {{ .Date.Format "2006-01-02"}}&nbsp;&nbsp;&nbsp;
            <a href="{{ .RelPermalink  }}">{{ .Title }}</a>
        </li>
        {{ end }}{{ end }}
    </ul>
</div>
<br />
{{ end }}


{{ partial "footer" . }}
